.elementTransition{
    transition:3s ease;
}

body {
    background-color: grey;
}

h1 {
    letter-spacing: 7px;
    color: red;
}

#game-container {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px;
    /* transition: all .2s ease;  */
}

#button1 {
    position: relative; 
    top: 440px; 
    /* left: 400px;  */
    background-color: red;

    padding: 5px 100px 5px 100px; 
}

#button2 {
    position: relative; 
    top: 440px; 
    /* left: 400px;  */
    background-color: red;

    padding: 5px 100px 5px 100px; 
}

#button3 {
    position: relative; 
    top: 440px; 
    /* left: 400px;  */
    background-color: red;

    padding: 5px 100px 5px 100px; 
}

#inventoryItem{
    height: 20px;
    width: 20px;
    position: relative;
    margin-top: 370px;
    margin-left: 900px;
}